### News-Classification Model Using NLP(Neutral Language Processing

**Created On: 31st May, 2022**

In [5]:
# Importing Required Libraries
import nltk
import pandas as pd

In [6]:
fake = pd.read_csv('Fake.csv')

In [7]:
genuine = pd.read_csv('True.csv')

In [8]:
fake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

In [9]:
genuine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

In [10]:
fake.head() #For getting the first 5 rows

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [11]:
genuine.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [12]:
fake.subject.value_counts()

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [13]:
genuine.subject.value_counts()

politicsNews    11272
worldnews       10145
Name: subject, dtype: int64

In [14]:
fake['target'] = 0  #Creating a new column 'target' and set the value '0' to all rows

In [15]:
genuine['target'] = 1    #Creating a new column 'target' and set the value '1' to all rows

In [16]:
fake.head()

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [17]:
fake.tail()

,title,text,subject,date,target
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [18]:
genuine.tail()

,title,text,subject,date,target
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [19]:
genuine.head()

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [20]:
data = pd.concat([fake, genuine], axis=0)  #Concatenate pandas objects along a particular axis

In [21]:
data.tail()

,title,text,subject,date,target
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [22]:
data.head()

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [23]:
data = data.reset_index(drop=True)

In [24]:
data.tail()

,title,text,subject,date,target
44893,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
44894,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
44895,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
44896,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
44897,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [25]:
data=data.drop(['subject','date','title'], axis='columns')
#these 3 columns are not useful for our model.

In [26]:
data.head()

                                                text  target
0  Donald Trump just couldn t wish all Americans ...       0
1  House Intelligence Committee Chairman Devin Nu...       0
2  On Friday, it was revealed that former Milwauk...       0
3  On Christmas day, Donald Trump announced that ...       0
4  Pope Francis used his annual Christmas Day mes...       0

In [27]:
data.columns

Index(['text', 'target'], dtype='object')

## Text Preprocessing

## 1. Tokenization

**This Process divides a large piece of continuous text into distinct units or tokens.**

**For More Documentation:**
https://www.nltk.org/api/nltk.tokenize.html

In [28]:
from nltk.tokenize import word_tokenize

In [29]:
data['text']=data['text'].apply(word_tokenize)

In [30]:
data.head(10)

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

## 2. STEMMING

**This is the idea of removing the suffix of a word and reducing different forms of awarded to a core root.**

**For More Documentation:** https://www.nltk.org/api/nltk.stem.html

In [31]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english", ignore_stopwords=False)

In [32]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [33]:
data['text']=data['text'].apply(stem_it)

In [34]:
data.head(10)

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

## 3. Stopword removal

**StopWord is a commonly used word (such as 'the', 'a', 'in' etc.) in that a search engine has been performed to ignore.**

**For More Documentations :** https://www.geeksforgeeks.org/removing-stop-words-nltk-python/

In [35]:
from nltk.corpus import stopwords

In [36]:
# print(stopwords.words('english')

In [37]:
def stop_it(t):
    dt = [word for word in t if len(word)>2]
    return dt

In [39]:
data['text']=data['text'].apply(stop_it)

In [40]:
data['text'].head(10)

0    [donald, trump, just, couldn, wish, all, ameri...
1    [hous, intellig, committe, chairman, devin, nu...
2    [friday, was, reveal, that, former, milwauke, ...
3    [christma, day, donald, trump, announc, that, ...
4    [pope, franci, use, his, annual, christma, day...
5    [the, number, case, cop, brutal, and, kill, pe...
6    [donald, trump, spent, good, portion, his, day...
7    [the, wake, yet, anoth, court, decis, that, de...
8    [mani, peopl, have, rais, the, alarm, regard, ...
9    [just, when, you, might, have, thought, get, b...
Name: text, dtype: object

In [42]:
data['text']=data['text'].apply(' '.join)

In [43]:
data.head()

                                                text  target
0  donald trump just couldn wish all american hap...       0
1  hous intellig committe chairman devin nune hav...       0
2  friday was reveal that former milwauke sheriff...       0
3  christma day donald trump announc that would b...       0
4  pope franci use his annual christma day messag...       0

## Splitting up of data

**Splitting the dataset for training and testing the Model**

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data['text'], data['target'], test_size=0.25)
display(X_train.head())
print('\n')
display(y_train.head())

41553    ankara reuter turkey aim back syrian rebel fig...
16143    the u.s. bombard syrian airbas just outsid hom...
15532    georg soro stick his nose into voter law and t...
44165    lome reuter secur forc fire tear gas hundr ant...
38313    strasbourg reuter the european parliament name...
Name: text, dtype: object

41553    1
16143    0
15532    0
44165    1
38313    1
Name: target, dtype: int64

## Vectorization

**A Tool to Perform Feature Extraction of Text Data.**

**For More Documentations :** https://neptune.ai/blog/vectorization-techniques-in-nlp-guide

In [45]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer( max_df=0.7)

tfidf_train = my_tfidf.fit_transform(X_train)
tfidf_test = my_tfidf.transform(X_test)

In [46]:
print(tfidf_train)

  (0, 73616)	0.10183620476472575
  (0, 41870)	0.11258722033939636
  (0, 32457)	0.0850284914433327
  (0, 10755)	0.11103772475397322
  (0, 14036)	0.08105619157095499
  (0, 21954)	0.1269299414003815
  (0, 25273)	0.12457861474250703
  (0, 89405)	0.051845525595172505
  (0, 31575)	0.13978924360829126
  (0, 79552)	0.10587400315053565
  (0, 77551)	0.10221894642147165
  (0, 68965)	0.06412896159916766
  (0, 81910)	0.0647082602534018
  (0, 9124)	0.058139062498780356
  (0, 18381)	0.2389106047776131
  (0, 53705)	0.2389106047776131
  (0, 72221)	0.056242114338754326
  (0, 18997)	0.14952529197004927
  (0, 57660)	0.07335049856320691
  (0, 83432)	0.2152465345422771
  (0, 20591)	0.11796062560949908
  (0, 66925)	0.1373305947466889
  (0, 54306)	0.18807709628004035
  (0, 32489)	0.17794014399946698
  (0, 83441)	0.477106050078918
  :	:
  (33672, 59274)	0.05426622100815849
  (33672, 37581)	0.02433129408469718
  (33672, 73704)	0.05156951977686953
  (33672, 36860)	0.03068022004745878
  (33672, 31857)	0.03998611767971083
  (33672, 88408)	0.06205947392563701
  (33672, 55223)	0.04357042141572643
  (33672, 59962)	0.04232814628185975
  (33672, 57263)	0.053782171930979415
  (33672, 36157)	0.08788898931851569
  (33672, 7231)	0.05836846900306003
  (33672, 33193)	0.024591793553807625
  (33672, 13437)	0.04079328528300913
  (33672, 77361)	0.04528362787024649
  (33672, 17026)	0.0265751266524381
  (33672, 10616)	0.026562050995981832
  (33672, 77342)	0.060390903561751835
  (33672, 41870)	0.1911350733612095
  (33672, 32457)	0.04811655325480879
  (33672, 10755)	0.06283485106845667
  (33672, 68965)	0.03628977232905963
  (33672, 57660)	0.04150812404728449
  (33672, 60504)	0.05862969209550781
  (33672, 31611)	0.08306105156292197
  (33672, 69366)	0.030311615623282072

## LogisticRegression

So, in this classification model, we are using Logistic Regression.
You can use other Classification Algorithms like:-Decision Tree, Support Vector Machine Or K-Nearest Neighbours.

**For More Documentations :** https://bit.ly/3m2M7BL

In [47]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [48]:
model_1 = LogisticRegression(max_iter=900)
model_1.fit(tfidf_train, y_train)
pred_1 = model_1.predict(tfidf_test)
cr1    = accuracy_score(y_test,pred_1)
print(cr1*100)
# cr1

98.89532293986638

Here, The Accuracy of the model is 98.89%.

## PassiveAggressiveClassifier

**For More Documentations :** https://bit.ly/3NSgHtJ

In [49]:
from sklearn.linear_model import PassiveAggressiveClassifier
model = PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(max_iter=50)

In [50]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(y_test, y_pred)
print('The accuracy of prediction is ',accscore*100)

The accuracy of prediction is  99.6347438752784